@model ShoppingCartVM

<div class="row justify-content-center align-items-center">
    <div class="card w-100 mt-3">
        <div class="card-body">
        @foreach (var item in Model.ListCart)
        {
            <ul class="list-group list-group-horizontal mt-3">
                <li class="list-group-item">Artikelnummer: @item.ProductId</li>
                <li class="list-group-item">Antal: @item.Count</li>
                <li class="list-group-item">Pris: @item.Price kr/st</li>
                <li class="list-group-item">Produktnamn: @item.Name</li>
            </ul>

        }


        <h5 class="card-title"></h5>
        <ul class="list-group list-group-horizontal mt-3">
            <li class="list-group-item">Totalsumma: @Model.CartTotal kr</li>
        </ul>
        <button class="btn btn-primary mt-3">Beställ</button>
    </div>
</div>
</div>