@model IEnumerable<OrderModel>

@foreach (var order in Model)
{
    <ul class="list-group mt-3">
        <li class="list-group-item"><b>Ordernummer:</b> @order.OrderId</li>
        @foreach (var item in @order.Items)
        {
            <li class="list-group-item"><b>Artikelnummer:</b> @item.Id</li>
            <li class="list-group-item"><b>Produktnamn:</b> @item.Name</li>
            <li class="list-group-item"><b>Antal:</b> @item.Quantity * @item.Price kr/st</li>                                                                          
        }
        <li class="list-group-item"><b>Orderdatum:</b> @order.OrderDate</li>
        <li class="list-group-item align-content-end"><b>Totalsumma:</b> <b>@order.TotalPrice</b> kr</li>
    </ul>
}

@*@foreach (var order in Model)
{
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Ordernummer</th>
            <th scope="col">Artikelnummer</th>
            <th scope="col">Produktnamn</th>
            <th scope="col">Antal</th>
            <th scope="col">Orderdatum</th>
            <th scope="col">Totalsumma</th>
        </tr>
        </thead>

        
            
            @foreach (var item in @order.Items)
            {
                <tbody>
                <tr>
                <td>@order.OrderId</td>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Quantity * @item.Price kr/st</td>
                <td>@order.OrderDate</td>
                <td>@order.TotalPrice</td>
                </tr>
                </tbody>
            }
            
        
    </table>
}*@
