@model ProductDetailsModel

<form method="post">
    <input hidden asp-for="Product.Id"/>
    <input hidden asp-for="@Model.UserId"/>
    <input hidden asp-for="@Model.Product.Name"/>
    <input hidden asp-for="@Model.Product.Description"/>
    <input hidden asp-for="@Model.Product.Price"/>
    <div class="row justify-content-center align-items-center">
        <div class="card w-75 mt-3">
            <div class="card-body">
                <h5 class="card-title">@Model.Product.Name</h5>
                <p class="card-text">@Model.Product.Description</p>
                <p class="card-text">@Model.Product.Price kr</p>
                <button type="submit" class="btn btn-dark" asp-controller="Cart" asp-action="Details">Lägg i kundvagn</button>
            </div>
        </div>
    </div>
</form>